#stop {
   position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -10%);
}


.distraction { 
   position: absolute;
   left: 50%;
   top:80%;
   width: 20%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   
}